/*
Project Name: Logan's website
Author: Logan Glantz
*/


/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0px 0px;
  background: #D2B48C;
}

/******************************************
/* LAYOUT
/*******************************************/

.hero-area {
  background-image: url("../imgs/dog.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.vertical-center {
  display: flex;
  align-items: center;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
